@import "@/style/loading.scss";

body,html {
  position:absolute;
  top:0;
  left:0;
  padding:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: block;
  min-height: 100%;
  min-width: 100%;
  background:#f2f2f2;
}
